* {
  box-sizing: border-box;
}

.navigasi {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: white;
  transition-duration: .5s;
  z-index: 10;
}

.judul {
  display: inline-block;
  font-size: 3rem;
  padding: 5px 0;
}

.menu-judul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.menu-judul li {
  float: left;
  font-size: 1.5rem;
  padding: 16px 15px;
}

.menu-putih {
  color: black;
  background-color: white;
}

.konten-utama {
  position: relative;
  background-image: url('image/coding.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  /*z-index: 2;*/
}

.blur {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
}

.sambut-group {
  position: relative;
  transform: translateY(100%);
}

.sambut {
  display: inline-block;
  color: white;
  font-size: 8rem;
}

.kurawal {
  font-size: 9rem;
}

.kang {
  color: ;
}

.sambut-sub {
  color: white;
  font-size: 3em;
}

.tim {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: black;
  overflow: hidden;
}

.tim .frontend {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  height: 300px;
  background-color: #ef6c00;
  color: white;
  transform: translateY(100%);
}

.frontend .front-text {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tim .pemisah {
  font-weight: 900;
  position: absolute;
  width: 150px;
  height: 300px;
  background-color: white;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) skewX(-20deg);
  z-index: 2;
}

.tim .backend {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  height: 300px;
  background-color: #222e50;
  color: white;
  transform: translateY(100%);
}

.backend .backend-text {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-desc {
  position: relative;
  background-image: url('image/coding.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 10px 0;
  z-index: 1;
}

.front-desc h1, .back-desc h1 {
  font-size: 4rem;
}

.front-desc p, .back-desc p {
  font-size: 2rem;
}

.back-desc {
  position: relative;
  background-color: #222e50;
  color: white;
  padding: 10px 0;
}

.icon-lg {
  font-size: 10rem;
  margin: 50px;
}

.fitur {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: black;
  z-index: -2;
}

.fitur-sub {
  position: relative;
  background-color: black;
  width: 100%;
  height: auto;
  color: white;
}

.pengembang {
  width: 100%;
  height: 60vh;
  background-color: black;
  color: white;
}

.teks-besar {
  font-size: 5rem;
}

.teks-sedang {
  font-size: 2rem;
}

.icon-border {
  border: 5px solid white;
  border-radius: 20px;
}

.frontend-anim {
  animation-name: anim-frontend;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

@keyframes anim-frontend {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.backend-anim {
  animation-name: anim-backend;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes anim-backend {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.divider-anim {
  animation-name: anim-divider;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes anim-divider {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
